.players-container{
    display: flex;
    border: 1px solid gold;
}
.player-container{
    width: 60%;
    margin-left: 15px;
    margin-right: 5px;
    border-right: 1px solid gold;
}
.player-cart{
    display: flex;
}
.added-player{
    border-right: 1px solid gold;
}
.added-salary{
}